__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/


jobs.txt

# SAT solver artifacts
*.cnf
cnf_out/
cnf_out_unified/
cnf_out_control_flow/

# OS
.DS_Store

*.ipynb
!boolean_learning.ipynb
!test_for_function.ipynb
